/TEMP
/bukti potong gagal ekstrak
/bukti potong maret 2025
/faktur_new
/rename_BPPU_gui_v120.py
/rename_BPPU_gui_v120.spec
/rename_faktur_gui_v100.py
/rename_faktur_gui_v100.spec
/test_bukti_potong
/test_faktur